.profile {
  position: relative;
  width: 300px;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  background-color: #ebebeb;
  box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.4);
              -webkit-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.4);
              -moz-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.4);
}

.new {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: aquamarine;
  padding:0.15rem 0.5rem;
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
}